.barman{
    transform: scaleX(-1);
    opacity: 0.9;
    -webkit-filter: drop-shadow(2px 4px 8px #240e27ff);
    filter: drop-shadow(2px 4px 8px #240e27ff);
}

.barman-talk {
    transform: translateX(40%);
}

.choise{
    clip-path: ellipse(45% 37% at 50% 50%);
}

.options{
    clip-path: ellipse(45% 37% at 50% 50%);
    
}

.uno{
    transform: translateX(-107%);
}


