.barman{
    transform: scaleX(-1);
    -webkit-filter: drop-shadow(2px 4px 8px #240e27ff);
    filter: drop-shadow(2px 4px 8px #240e27ff);
}

.barman-talk {
    transform: translateX(40%);
}

.choise{
    clip-path: ellipse(45% 37% at 50% 50%);
}

.options{
    clip-path: ellipse(45% 37% at 50% 50%);
    font-family: 'Ephesis', cursive;
    font-size: 4vh;
    font-weight: bold;
    color: #FFFFFF; 
}

.uno{
    transform: translateX(-107%);
}


