.underNavbar{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 76%);
    background: linear-gradient(90deg, rgba(138,46,158,1) 0%, rgba(147,58,96,1) 35%, rgba(252,95,163,1) 100%);
}

.underNavbar > .box{
    -webkit-box-shadow: 0px 4px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 5px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 5px -2px rgba(0,0,0,0.75);
}