@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Roboto+Mono:wght@100;300;700&display=swap');

/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    background: linear-gradient(45deg,#000000, rgb(11, 8, 56));
    
    
    
    --st-patricks-blue: #353271ff;
--dark-magenta: #8a2e9eff;
--brilliant-rose: #fc5fa3ff;
--lapis-lazuli: #2a5c8dff;
--blue-jeans: #0aadffff;
--dark-mangenta-2: #933a60;
}

.neon-text{
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}

.neon-defualt-text{
    cursor: pointer;
}

.neon-defualt-text:hover{
    text-shadow: #FFF 0px 0px 2px, #FFF 0px 0px 4px, #FFF 0px 0px 7px, #FF2D95 0px 0px 8px, #FF2D95 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 45px;
}
