@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Roboto+Mono:wght@100;300;700&display=swap');

/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    background: linear-gradient(45deg,#2e2e2e, #000000);
    background-image: url('https://image.freepik.com/vector-gratis/fondo-ciudad-noche-futurista_52683-9062.jpg');
    background-repeat: repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    
    
    --dark-purple: #240e27ff;
    --alabaster: #f4f2e5ff;
    --spanish-orange: #e36414ff;
    --seal-brown: #582707ff;
    --cafe-au-lait: #b48258ff;
}


